<div class="shell">
  <app-sidebar></app-sidebar>
  <div class="mobile-bar">
    <div class="top-side">
      <div class="name">bekhzod<span>.dev</span></div>
      @if (isMobile()) {
        <app-language-changer></app-language-changer>
      }
    </div>
    <nav class="mobile-nav" aria-label="Tool navigation">
      <span style="padding-bottom: 3px">PG</span>
      <span class="mobile-nav__prompt">&#10095;</span>

      @for (item of navItems; track item.route) {
        <a href="{{ item.route }}" class="mobile-nav__arg">
          {{ item.label | transloco }}
        </a>
      }

      <span class="mobile-nav__cursor"></span>
    </nav>
  </div>

  <main>
    <app-topbar></app-topbar>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </main>
</div>
